[submodule "ios/WordPress-Editor-iOS"]
	path = ios/WordPress-Editor-iOS
	url = https://github.com/liuzhen2008/WordPress-Editor-iOS.git
[submodule "android/WordPressAndroid"]
	path = android/WordPressAndroid
	url = https://github.com/liuzhen2008/WordPress-Editor-Android.git
